body{
    text-align: center;
    font-family: cursive;
}
table{
    border-collapse: collapse;
    border: black;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.one .ones{
    background-color: #CCFFFF;
    padding: 10px;
    text-align: center;
}
.two .twos{
    background-color:  lightgreen;
    padding: 10px;
    text-align: center;
}
.three .threes{
    background-color: lime;
    padding: 10px;
    text-align: center;
}
.four .fours{
    background-color: yellow;
    padding: 10px;
    text-align: center;
}
.five .fives{
    background-color: orange;
    padding: 10px;
    text-align: center;
}
.six .sixes{
    background-color: red;
    padding: 10px;
    text-align: center;
}